body{
background-color: #fffffe;
margin: 0;
}

 header{
     width: 100%;
     display: flex;
}

nav{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

 .srch{
display:flex;
align-content: stretch;
}

.span{
    display:flex;
}

main{
    display: grid;
    max-width: 100%;
}